* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --back-color: rgb(33, 43, 57);
  --back-nav-color: #222222;
  --schriftfarbe: #e4cfaa;
}

html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  background-color: var(--back-color);
  color: var(--schriftfarbe);
}

.container {
  width: 98vw;
  padding: 5px;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 Spalten */
  grid-template-rows: auto auto auto auto auto auto auto auto; /* Alle Zeilen passen sich dem Inhalt an */
  gap: 10px;
  grid-template-areas:
    "navl navl navl navcenter navright navright"
    "slider slider slider slider slider slider"
    "top_eins top_eins top_eins_angebot top_zwei top_zwei top_zwei_angebot"
    "rubrik_eins rubrik_eins rubrik_eins rubrik_zwei rubrik_zwei rubrik_zwei"
    "rubrik_drei rubrik_drei rubrik_vier rubrik_vier rubrik_fuenf rubrik_fuenf"
    "rubrik_sechs rubrik_sechs rubrik_sechs rubrik_sieben rubrik_sieben rubrik_sieben"
    "video video video video video video"
    "u_bestseller u_bestseller u_bestseller u_bestseller u_bestseller u_bestseller"
    "bestseller_eins bestseller_eins bestseller_zwei bestseller_zwei bestseller_drei bestseller_drei"
    "footer footer footer footer footer footer";
}

/*Start Template*/
.nav {
  display: flex;
  text-align: center;
  height: 3em;
  padding: 20px;
  background-color: #222222;
  color: antiquewhite;
}

.navl {
  grid-area: navl;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: flex-start;
}

.navcenter {
  grid-area: navcenter;
  border: 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navright {
  grid-area: navright;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navright i {
  color: var(--schriftfarbe); 

}

.navright i:hover {
  color: goldenrod;
}

.slider {
  grid-area: slider;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main {
  background-color: chartreuse;
}

.top_eins {
  background-color: bisque;
  grid-area: top_eins;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.top_eins_angebot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  grid-area: top_eins_angebot;
  height: 100%;
}

.top_zwei {
  background-color: bisque;
  grid-area: top_zwei;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.top_zwei_angebot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(52, 152, 56);
  grid-area: top_zwei_angebot;
  height: 100%;
}

.rubrik_eins {
  grid-area: rubrik_eins;
  
}

.rubrik_zwei {
  grid-area: rubrik_zwei;
}

.rubrik_drei {
  grid-area: rubrik_drei;
}

.rubrik_vier {
  grid-area: rubrik_vier;
}

.rubrik_fuenf {
  grid-area: rubrik_fuenf;
}

.rubrik_sechs {
  grid-area: rubrik_sechs;
}

.rubrik_sieben {
  grid-area: rubrik_sieben;
  background-color: cornflowerblue;
}

.u_bestseller {
  grid-area: u_bestseller;
}

.bestseller_eins {
  grid-area: bestseller_eins;
}

.bestseller_zwei {
  grid-area: bestseller_zwei;
}

.bestseller_drei {
  grid-area: bestseller_drei;
}

.video {
  grid-area: video;
  background-color: var(--back-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.video-container {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  width: 100%;
  height: 315px;
}

.footer {
  grid-area: footer;
  background-color: lightgray;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  color: #df3907e2;
}

.footer li:hover{
  cursor: pointer;
  color: darkred;
}

/*Ende Template*/

/*Anpassung Navigation*/

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navl li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 20px;
  margin-right: 30px;

}

.navl li:hover{
  cursor:pointer ;
  color: goldenrod;
}

.navright {
  padding: 20px;
}

/*Ende Nav*/

.slider img {
  width: 100%;
}

.img_top {
  display: flex;
  height: 100%;
  text-align: center;
}

/* Neue CSS-Regeln für die Texte in der Box */
.top_eins_angebot p,
.top_zwei_angebot p {
  margin: 5px 0;
}

.img_top img {
  max-width: 100%;
  height: 100%;
  object-fit: cover; /* Gleichmäßige Skalierung der Bilder */
  display: block;
  margin: auto;
}

/*Button*/
.btn1 {
  height: 3em;
  border-radius: 10px;
  margin-top: 20px;
  font-size: medium;
  padding: 13px;
  background-color: #4a3721;
  color: white;
}

.btn1:hover {
  background-color: #d98526;
}
/*Button Ende*/

.u_bestseller {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #d98526;
}

.image-container {
  position: relative;
  width: 100%;
  
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 35em;
}

.text-overlay {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

.beschriftung{
  z-index: 100;
}
